


<!-- cmt.com embed -->
<!-- <iframe src="http://media.mtvnservices.com/embed/mgid:uma:videolist:cmt.com:1739264/cp~instance%3Dfullepisode%26autoPlay%3Dfalse%26id%3D1739264%26uri%3Dmgid%3Auma%3Avideolist%3Acmt.com%3A1739264" width="512" height="288" frameborder="0"></iframe> -->
<h1>Configs</h1>

<table class="table">
  <%@pmt_players.each do |pmt_player|%>
  	 <tr >
	  	<th>Mgid</th>
	  	<th>Catalog</th>
		 </tr>
		 <tr >
	  	<td><%=pmt_player.mgid%></td>
	  	<td><%=pmt_player.catalog_id%></td>
		 </tr>



		<%@configs.each do |config|%>
			
		  <tr >
		  	<th>------</th>
		 
		  	<th>Path</th>
		  	<th>Edit</th> 
		  </tr>

			<tr>
				<td></td>
				<td><%=config.path%> </td>
				<td>
					<%= link_to "Edit", configs_path%>

				</td>
			

			</tr>

		<%end%>

	<%end%>

</table>
