

<h1>Configurations</h1>

<table class="table">
  <tr class="tableizer-firstrow">
  	<th>Name</th>
  	<th>Mgid</th>
  	<th>Path</th>
  	<th>Edit</th>
   
  </tr>

	<%@configs.each do |config|%>
		<tr>
			<td><%=config.name%> </td>
			<td><%=config.pmt_player.mgid %> </td>
			<td><%=config.path%> </td>
			<td>Button </td>
		</tr>

	<%end%>

</table>
