<h1>PMT Players</h1>

<table class="table">
  <tr >
  	<th>Mgid</th>
  	<th>Catalog_ID</th>
  	<th>Edit</th>
   
  </tr>

	<%@players.each do |player|%>
		<tr>
			<td><%=player.mgid%> </td>
			<td><%=player.catalog_id%> </td>
				<td>Button </td>
		</tr>

	<%end%>

</table>

