<h1>Brands</h1>
<h3>Pick a brand</h3>

<table class="table">
  <tr>
  	<th></th>
  	<th>Brand Params</th>
  	<th></th>

  </tr>

  <tr >
  	<th>Brand</th>
  	
  	<th>Owner</th>
  	<th>Edit</th>
   
  </tr>

	<%@brands.each do |brand|%>
		<tr>
		
			<td><%= link_to brand.name, [brand, :brand_platforms]%></td>
			
			<td><%=brand.owner%> </td>
				<td><%=brand.rec%> </td>
		</tr>

	<%end%>

</table>