


<table class="tableizer-table">
  <tr class="tableizer-firstrow">
  	<th>Name</th>
    <th>Platform</th>
    <th>query_string_key</th>
    <th>default</th>
   </tr>

	<%@fields.each do |field|%>
		<tr>
			<td><%=field.name%></td>
			<td><%=field.platform%></td>
			<td><%=field.query_string_key%></td>
			<td><%=field.default_value%></td>
		</tr>

	<%end%>
</table>